<h1 class="text-center logo-name"><img src = "/styles/logo.png" class="logo"> Audio Journal</h1>
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="medium-12 cell align-center">
            <h2 class="page-title">Create a new post!</h2>
            <form>
            <label>
            Title:
            <input type="text" placeholder="" id="new-title">
            </label> 
        </form> 
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="medium-4 cell">
            <p>Upload an audio file:</p> 
        </div>
        <div class="medium-8">
            <form>
            <label>
            Type out your post:
            <input type="text" placeholder="" id="text-post">
            </label> 
        </form>
        </div>
    </div>
    <div class="grid-x align-center">
        <div class="medium-4 cell">
            <a class="button expanded" href="#" id= "post-submit">Submit Post</a>
        </div>
    </div>


</div>
