<h1>username</h1>

<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="medium-5 cell align-center">
            <a class="button" href="/new">Create New Post</a>
        </div>
        <div class="medium-5 cell align-center">
            <a class="button" href="/">Home</a>
        </div>
    </div>
</div>
